* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #0A0A0A;
}
header .bottom {
  width: 93.5%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 30px;
}
header .bottom .icon {
  display: flex;
  gap: 25px;
}
header .bottom .icon i {
  color: #fff;
  font-size: 15px;
}
header .bottom .icon i:hover {
  transform: rotateY(180deg);
  transition: 0.5s;
  color: #E5BF4A;
}
header ul {
  height: 60px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
}
header ul li {
  position: relative;
}
header ul li:hover::after {
  animation: headera 0.5s;
  animation-fill-mode: forwards;
}
header ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #E5BF4A;
  left: -10px;
  bottom: -20px;
}
header ul li a {
  font-family: jost, sans-serif;
  color: #fff;
  font-size: 15px;
}
header ul li a:hover {
  color: #E5BF4A;
}
header button {
  color: #E5BF4A;
  border: 1px solid #E5BF4A;
  display: inline-block;
  padding: 11px 20px;
  text-transform: capitalize;
  font-size: 16px;
  background: transparent;
  width: 232px;
  height: 47px;
  font-family: jost, sans-serif;
}
header button:hover {
  background-color: #E5BF4A;
  color: #fff;
  transition: 3s;
}

.sec1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 100%;
  background-image: url("https://preview.colorlib.com/theme/cakeshop/assets/img/hero/h1_hero1.jpg.webp");
  background-size: cover;
}
.sec1 .text1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sec1 .text1 .buttonsec1 {
  width: 438px;
}
.sec1 .text1 h1 {
  position: relative;
  font-size: 70px;
  font-family: "Poiret One", cursive;
  font-weight: 400;
  width: 438px;
  color: #fff;
}
.sec1 .text1 button {
  background: #E5BF4A;
  border: 1px solid #fe7f7f;
  color: #0A0A0A;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  padding: 22px 41px;
  text-transform: uppercase;
  line-height: 15px;
  border-radius: 0px;
  width: 179px;
}
.sec1 .text1 button:hover {
  transition: 3s;
  background: transparent;
  color: #E5BF4A;
}

.sec2 {
  background-color: #0A0A0A;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.sec2 .firstCake {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sec2 .secondCake {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sec2 .thirdCake {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sec2 img {
  margin-left: 10px;
  width: 95%;
  height: 327.16px;
}
.sec2 a {
  font-size: 24px;
  color: #fff;
  font-family: "Poiret One", cursive;
}
.sec2 span {
  font-size: 20px;
  color: #E5BF4A;
  font-family: jost, sans-serif;
}

footer {
  background-color: #0A0A0A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 90%;
  border-top: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff;
}
footer .top .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .top .left p {
  color: #fff;
  width: 526px;
  font-family: jost, sans-serif;
  font-size: 16px;
}
footer .top .left .iconF {
  display: flex;
  flex-wrap: wrap;
}
footer .top .left .iconF button {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 14px 36px 13px 39px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  background: none;
  border-radius: 0px;
  margin-right: 4px;
  margin-bottom: 10px;
}
footer .top .right {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer .top .right .loc {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .top .right .con {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .top .right img {
  height: 23px;
  width: 23px;
}
footer .top .right h4 {
  color: #e5bf4a;
  font-weight: 100;
  font-size: 24px;
  font-family: "poiret one", cursive;
}
footer .top .right a {
  color: #fff;
  font-size: 16px;
  font-family: jost, sans-serif;
}
footer .top .right p {
  color: #fff;
  width: 190px;
  font-size: 16px;
  font-family: jost, sans-serif;
}
footer .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 90px;
  font-family: jost, sans-serif;
}
footer .bottom p {
  color: #fff;
}
footer .bottom p i {
  color: #E5BF4A;
}
footer .bottom span {
  color: #E5BF4A;
}

@keyframes headera {
  from {
    width: 0;
  }
  to {
    width: 150%;
  }
}
@media (max-width: 992px) {
  header .bottom {
    justify-content: space-around;
  }
  header .bottom button {
    display: none;
  }
  header .top nav ul li {
    display: none;
  }
  .sec1 {
    height: auto;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  .sec2 {
    height: auto;
    flex-wrap: wrap;
    height: auto;
    padding-top: 15px;
  }
  .sec2 img {
    width: 200px;
    height: 200px;
  }
  main .sec1 .text1 {
    width: 75%;
  }
  footer {
    flex-wrap: wrap;
    height: auto;
  }
  footer .top {
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 600px) {
  header .bottom {
    position: relative;
    left: 0;
    justify-content: start;
    margin: 0;
  }
  header .bottom button {
    position: absolute;
    left: 10px;
  }
  header .bottom .icon {
    display: none;
  }
  header .bottom img {
    height: 74px;
    width: 190px;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  main .sec1 {
    padding: 10px;
  }
  main .sec1 .text1 {
    width: 70px;
    align-items: start;
  }
  main .sec1 .text1 .buttonsec1 {
    width: auto;
  }
  main .sec1 .text1 h1 {
    font-size: 35px;
    width: 50px;
  }
  main .sec2 img {
    width: 180px;
  }
  main .sec2 .thirdCake a {
    width: 180px;
  }
  footer .top {
    height: auto;
  }
  footer .top .left p {
    width: auto;
    margin: 10px;
  }
  footer .bottom p {
    margin: 10px;
  }
}